.fallback-container{
    margin-top: 7rem;
    margin-bottom: 15.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fallback-h2 {
    font-size: 3.25rem;
    font-weight: bold;
    color: #00246B;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  #fallback-p1 {
    color: #00246B;
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
  }
  
  #fallback-p2 {
    margin-top: 2rem;
  }
  
  .create-btn {
   padding: 0.7rem;
   border: none;
   border-radius: 5px;
   font-weight: 600;
   background: #fd9047;
   text-decoration: none;
    color:  #00246B;
    font-size: 20px;
   transition: 0.2s;
  }
  
  .create-btn:hover{
    background-color:  #00246B;
    color: #ffffff;
  }
  .create-btn-dark {
    padding: 0.7rem;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    background: #777777;
    text-decoration: none;
     color:  #f3f3f3;
     font-size: 20px;
    transition: 0.2s;
   }
   
   .create-btn-dark:hover{
     background-color:  #ededed;
     color: #171717;
   }


  .fallback-img{
    width: 90%;
    height: 10%;
  }
  .dark{
    color: #f3f3f3;
  }