.cartitems{
    margin: 100px 170px;
}

.cartitems hr{
    height: 3px;
    background: #e2e2e2;
    border: 0;
}

.cartitems-format-main{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    padding: 20px;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
}
.dark{
    color: #f3f3f3;
}
.cartitems-format{
    font-size: 17px;
    font-weight: 500;
}

.carticon-product-icon{
    height: 62px;
}

.delete-icon{
    width: 35px;
    margin-left: 1.3rem;
    transition: 0.2s;
}
.delete-icon-dark{
    width: 35px;
    margin-left: 1.3rem;
    transition: 0.2s;
    filter: invert(100%);
}
.delete-icon:hover{
    transform: scale(1.2,1.2);
    
}

.cartitems-remove-icon{
    width: 15px;
    margin: 0px 40px;
    cursor: pointer;
}

.cartitems-quantity{
width: 74px;
height: 50px;
border: 2px solid #ebebeb;
background: #fff;
text-align: center;
padding:20px 20px 30px 20px;
}

.cartitems-down{
    display: flex;
    margin: 100px 0px;
}

.cartitems-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 40px;
}
.cartitem-total-container{
    width: 50%;
}
.cartitems-total-item{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}
.cartitems-total button{
    width: 262px;
    height: 58px;
    outline: none;
    border:none ;
    background: #ff4141;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.cartitems-promocode{
    flex: 1;
    font-size: 16px;
    font-weight: 500;
}
.cartitems-promocode p{
    color: #555;
}
.cartitems-promobox{
    width: 504px;
    margin-top: 15px;
    padding-left: 15px;
    height: 58px;
    background: #eaeaea;
}
.cartitems-promobox input{
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    width: 330px;
    height: 50px;
}
.cartitems-promobox button{
    width: 170px;
    height: 58px;
    font-size: 16px;
    background: black;
    color: white;
    cursor: pointer;
}
.orderform{
    display: flex;
    flex-direction: column;
}
.orderform-select{
    width: 27.1%;
    margin-bottom: 1rem;
    padding: 0.7rem;
    font-size: 1.2rem;
    text-align: center;
    outline: none;
}
.cart-fallback{
    text-align: center;
    margin-bottom: 35rem;
}

.cart-quantity-minus,
.cart-quantity-plus{
    width: 56px;
    height: 33px;
    font-weight: 800;
    background: #dddbdb;
    border-radius: 4px;
    padding: 15px 15px 10px 15px;
    /* border: 1px solid #ddd; */
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 20px;
}
.cart-quantity-minus-dark,
.cart-quantity-plus-dark{
    width: 56px;
    height: 33px;
    font-weight: 800;
    background: #dddbdb;
    border-radius: 4px;
    padding: 15px 15px 10px 15px;
    /* border: 1px solid #ddd; */
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 20px;
    color: #555;
}
.cartitems-quantity-container{
    width:95px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    border: none;
}

