.productdisplay {
  display: flex;
  margin: 20px 170px;
}
.productdisplay-left {
  display: flex;
  gap: 17px;
}
.productdisplay-imglist {
  display: flex;
  gap: 16px;
  flex-direction: column;
}
.productdisplay-imglist img {
  height: 163px;
}
.productdisplay-main-img {
  width: 586px;
  height: 700px;
}

.productdisplay-right {
  margin: 0px 70px;
  display: flex;
  flex-direction: column;
}

 .product-name {
  color: #3d3d3d;
  font-size: 40px;
  font-weight: 700;
}
.productdisplay-right-stars {
  display: flex;
  align-items: center;
  margin-top: 13px;
  gap: 5px;
  color: #1c1c1c;
  font-size: 16px;
}

.productdisplay-right-prices {
  display: flex;
  margin: 40px 0px;
  gap: 30px;
  font-size: 24px;
  font-weight: 700;
}

.productdisplay-right-description {
  width: 150%;
  margin-bottom: 5rem;
}
.productdisplay-right-price-old {
  color: #818181;
  text-decoration: line-through;
}
.productdisplay-right-price-new {
  color: #ff4141;
}

.productdisplay-right-size h1 {
  margin-top: 55px;
  color: #656565;
  font-size: 20px;
  font-weight: 600;
}

.productdisplay-right-sizes {
  display: flex;
  margin: 30px 0px;
  gap: 20px;
}

.productdisplay-right-sizes div {
  padding: 18px 24px;
  background: #fbfbfb;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  cursor: pointer;
}

.addtocart-button {
  padding: 20px 40px;
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background: #ff4141;
  margin-bottom: 40px;
  border: none;
  outline: none;
  cursor: pointer;
}

.custom-toast {
  background-color: #5e5e5e;
  color: #fff;
  border-radius: 8px;
  padding: 16px;
}

.custom-toast .Toastify__icon {
  font-size: 24px;
}

span {
  cursor: pointer;
}
.number {
  display: flex;
  margin-bottom: 1rem;
}
.minus,
.plus {
  width: 36px;
  height: 39px;
  font-weight: 800;
  background: #f2f2f2;
  border-radius: 4px;
  padding: 8px 5px 8px 5px;
  border: 1px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-size: 20px;
}
/* .minus:hover{
    background-color: #ff4141;
}
.plus:hover{
    background-color: #6dff5a;
} */
.quantity-input {
  height: 34px;
  width: 100px;
  text-align: center;
  font-size: 26px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 10px;
  outline: none;
}

.quantity-heading{
  margin-top: -2.4rem;
    margin-bottom: 1rem;
}

.b{
  background: #ffc250;
}

.product-display-back-btn{
  display: flex;
  font-size: 1.3rem;
  padding: 0.5rem 1.1rem;
  background: red;
  color: white;
  border: none;
  margin-left: -10rem;
  cursor: pointer;
}

.product-display-back-btn img{
  margin-top: 3px;
  filter:invert(100%);
  width: 20px;
  margin-right: 5px;
}

.dark{
  color: #f3f3f3;
}