.signup{
    width: 101.5%;
    height: 86vh;
    background: #fce3fe;
    padding-top: 100px;
    display: flex;
    margin-left: -1.5rem;
}

.signup-container{
    width: 580px;
    height: 550px;
    background: white;
    margin: auto;
    padding: 38px 60px;
}

.signup-container h1{
    margin: 0px 0px;
}

.signup-fields{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}

.signup-fields input{
    height: 72px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
}

.signup-container button{
    width: 602px;
    height: 72px;
    color: white;
    background: #ff4141;
    margin-top: 30px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;

}

.signup-login{
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}

.signup-login span{
    color: #ff4141;
    font-weight: 600;
}

.signup-agree{
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}

.showpassword{
    display: flex;
}
.password-eye{
    margin-top: 25px;
    font-size: 20px;
    opacity: 50%;
    margin-left: -2.9rem;
}