.adminproduct-container{
    margin-top: -3rem;
}
.adminproduct-heading{
    text-align: center;
    margin-bottom: 1rem;
    color: black;
}
.adminproduct-heading-dark{
  text-align: center;
  margin-bottom: 1rem;
  color: #f3f3f3;
}
  
  .adminproduct-form-group {
    margin-bottom: 10px;
    font-size: 20px;
  }
  .adminproduct-form{
    padding: 1rem;
    border: none;
    border-radius: 5px;
    background: #ffa14a;
  }
  .adminproduct-form-dark{
    background: #777777;
  }
 .adminproduct-input{
    width: 95%;
    padding: 8px;
    margin-top: 10px;
    font-size: 20px;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-right: 1rem;
    outline: none;
  }
  .adminproduct-action{
    display: flex;
    justify-content: center;
    margin-top: 1rem;

  }
  .adminproduct-action-button {
    margin-right: rem;
    padding: 8px 16px;
    background-color:#ff631b;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1rem;
  }
 
  .adminproduct-action-button:hover {
    background-color: #ff4141 ;
  }
  .adminproduct-action-button-dark {
    margin-right: rem;
    padding: 8px 16px;
    background-color:#3a3a3a;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1rem;
  }
 
  .adminproduct-action-button-dark:hover {
    background-color: #f3f3f3 ;
    color: #3a3a3a;
  }

  .adminproduct-action-button-cancle {
    margin-right: 1rem;
    padding: 8px 16px;
    background: gainsboro;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1rem;
  }

  .adminproduct-select{
    width: 27%;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    padding: 0.3rem;
    font-size: 1.2rem;
    text-align: center;
    outline: none;
  }
  .adminproduct-form-img{
    display: flex;
    font-size: 20px;
  }
.product-img-view{
  margin-top: -3.2rem;
  width: 95px;
  height: 110px;
  cursor: pointer;
}
  .adminproduct-input-img{
    margin-top: 0.3rem;
    margin-left: 2rem;
  }

  textarea {
    resize: none;
 }
.dark{
  color: #f3f3f3;
}
