.allorderitems{
    /* margin: 50px 170px; */
    /* margin-bottom: 10rem; */
    /* background: violet; */
    margin-top: 0rem;
    margin-left: 5rem;
    margin-bottom: 1.5rem;
    width: 90%;
}

.allorderitems hr{
    height: 3px;
    background: #e2e2e2;
    border: 0;
}

.allorderitems-format-main{
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1.7fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    padding: 20px;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
}
.allorder-list-container{
    height: 55vh;
    /* background: violet; */
}
.allorderitems-format{
    font-size: 17px;
    font-weight: 500;
}

.carticon-product-icon{
    height: 62px;
}

.allorderitems-remove-icon{
    width: 15px;
    margin: 0px 40px;
    cursor: pointer;
}

.allorderitems-quantity{
width: 64px;
height: 50px;
border: 2px solid #ebebeb;
background: #fff;
}

.allorderitems-down{
    display: flex;
    margin: 100px 0px;
}

.pagination{
    /* background: violet; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap:15px;
    /* margin-top: -1rem; */
    margin-bottom: 10px;
}

.pagination-btn{
    padding: 10px 20px 10px 20px;
    font-size: 15px;
    font-weight: 600;
    color: #363636;
    margin-top: 12px;
    margin-bottom: 3rem;
    border: none;
    background: #c2c2c2;
    display: flex;
    transition: 0.2s;
}
.pagination-btn:hover{
    background: #8b8a8a;
    color: #3b3b3b;

}
.rigth-arrow{
    margin-left:7px ;
    margin-top: 1px;
    filter:brightness(100) invert(1);
}
.left-arrow{
    margin-right:8px ;
    margin-top: 1px;
    filter:brightness(100) invert(1);
    transform: rotate(180deg);
}

.disabled-btn{
    padding: 10px 20px 10px 20px;
    font-size: 15px;
    font-weight: 600;
    color: #363636;
    margin-top: 12px;
    margin-bottom: 3rem;
    border: none;
    background: #c2c2c2;
    display: flex;
}

.allorderitems-action{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}
.allorderitems-p{
    margin-left: 1rem;
    
}
.allorderitems-action-btn{
    width: 35px;
    padding: 0.5rem;
    color: #363636;
    background: transparent;
    font-weight: 600;
    border: none;
    transition: 0.2s;
    filter: invert(100%);
}
.allorderitems-action-btn-dark{
    width: 35px;
    padding: 0.5rem;
    color: #363636;
    background: transparent;
    font-weight: 600;
    border: none;
    transition: 0.2s;
    filter: invert(100%);
}

.allorderitems-action-btn:hover{
    transform: scale(1.2,1.2);
}

.dark{
    color: #f3f3f3;

}

