.filter-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e2dfdf;
    padding: 10px;
    width: 98.5%;
    /* box-shadow: 0px 3px 4px 1px #b4b4b4; */
    /* border-bottom: 1px solid #ccc; */
  }
.filter-dark{
  background-color: #7a7a7a;
}
  
  
  .filter-bar input {
    padding: 8px;
    outline: none;

    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 18px;

  }
  .search-bar-container{
    display: flex;
  }
  .search-bar{
    width: 250px;
    display: flex;
  }
  .search-input{
    outline: none;
    margin-left:0rem;
    width: 90%;
    font-size: 18px;
  }

  .search-text-icon{
    
    margin-left: -35px;
    margin-top: 0.5rem;
    cursor: pointer;
  }
  /* .filter-bar input[type="date"]::-webkit-inner-spin-button,
  .filter-bar input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  } */
  .filter-bar-lable{
    font-size: 20px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .filter-bar input[type="date"] {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: textfield;
  }
  
  .filter-bar input[type="date"]::-webkit-calendar-picker-indicator:hover {
    cursor: pointer;
  }

  .search-date-icon{
    margin-bottom: -0.4rem;
    margin-left: 5px;
    cursor: pointer;
  }
  .filter-reset{
    margin-top: -5px;
    /* background: violet; */
  }
  .filter-reseticon{
    margin-bottom: -8px;
    background: transparent;
    cursor: pointer;
    border: none;
  }
  .filter-bar-span{
    font-size: 25px;
    margin-right: 5px;
  }

  .search-input2{
    width: 200px;
  }

  .selecte-category{
    padding: 8px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 18px;
    background: #ffffff;

  }
  .selecte-category option{
    /* background: #ffffff; */
  }

