.navbar-light-theme{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    box-shadow: 0 1px 4px -2px black;
    transition: 0.2s;
}
.navbar-dark-theme{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    box-shadow: 0 1px 4px -2px black;
    background: #363636;
    transition: 0.2s;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-logo-dark{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo p a{
    color: #171717;
    font-size: 38px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.2s;

}
.nav-logo-dark p a{
    color:#f3f3f3;
    font-size: 38px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.2s;

}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #626262;
    font-size: 20px;
    font-weight: 500;
}
.nav-menu-dark{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #f3f3f3;
    font-size: 20px;
    font-weight: 500;
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}
.nav-menu-dark li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}
.nav-menu-dark li a{
    color: #f3f3f3;
}
.nav-menu li hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #ff4141;
}
.nav-menu-dark li hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #ff4141;
}
.nav-login-cart{
   display: flex;
   align-items: center;
   gap: 40px;
}

.nav-login-cart button{
    width: 110px;
    height: 58px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color: #515151;
    font-size: 20px;
    font-weight: 500;
    background: white;
    cursor: pointer;
    transition: 0.2s;
    margin-left: 1rem;
}
.nav-login-cart button:hover{
    background: #e6e6e6;
    color: rgb(0, 0, 0);
}

.nav-login-cart button:active{
    background:#f3f3f3 ;
}

.nav-cart-count{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
    z-index: 1;
}
.nav-cart-count-active{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
    z-index: 1;
    box-shadow: 1px 1px 4px rgb(48, 48, 48);
}


/* .user-icon {
    background:  #ffffff;
    border-radius: 50%;
    right: 10rem;
    display: flex;
    align-items: center;
    transition: 0.2s; 
  }
  .user-icon img{
    width: 60px;
    height: auto;
  }
  .user-icon:hover{
    background: #eb6c32;
  }
  
  .useractive {
    position: absolute;
    background: #ffffff;
    border-radius: 50%;
    right: 10rem;
    height: 75%;
    display: flex;
    align-items: center;
  } */
 /* .nav-avatar {
    vertical-align: middle;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  } */
.nav-avatar-img{
    width: 60px;
    margin-left: 1rem;
    margin-right: -2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}
.nav-avatar-img:hover{
    box-shadow: 1px 1px 7px rgb(0, 0, 0);
}
.nav-avatar-img-active{
    width: 60px;
    margin-left: 1rem;
    margin-right: -2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 7px rgb(0, 0, 0);
}

.cart-icon{
    /* -webkit-filter: drop-shadow(5px 5px 5px #222); */
  filter: drop-shadow(1px 1px 2px #979797);

}
.cart-icon-dark{
    /* -webkit-filter: drop-shadow(5px 5px 5px #222); */
  filter: invert(100%);

}

.nav-theme-toggle{
    /* background: violet; */
    margin-left: -1rem;
    margin-right: -2.5rem; 
    font-size: 12px;
}

.avatar-dark{
    background: hsla(22, 100%, 69%, 0.87);
}