.model-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.288);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }

 .model-container{
    padding: 1.5rem;
    background: #f0f0f0;
    width: 25%;
 }

 .model-message{
    font-size: 25px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 2rem;
 }
 .model-action{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
 }
 .model-img-action{
    display: flex;
    justify-content: center;
    gap: 10px;
 }
.model-action-cancle{
    padding: 10px;
    border: none;
    font-size: 20px;
    transition: 0.2s;
    color: #585858;

}
.model-action-cancle:hover{
    background: #ccc;
    color: #000000;
}
.model-action-btn{
    border: none;
    background: #ccc;
    font-size: 20px;
    padding: 10px;
    transition: 0.2s;
}
.model-action-btn:hover,.model-action-close:hover{
    background: #8d8d8d;
    color: #e9e9e9;
}
.model-action-close{
    padding: 10px;
    border: none;
    font-size: 20px;
    background: #ccc;
    transition: 0.2s;
}
.product-img-container img{
    margin-left: 2rem;
}